Source: pardus-domain-joiner
Section: utils
Priority: optional
Maintainer: Pardus Altyapı <altyapi@pardus.org.tr>
Build-Depends: debhelper (>= 12), dh-python, python3-all, python3-setuptools
Standards-Version: 4.6.1
Homepage: https://www.pardus.org.tr

Package: pardus-domain-joiner
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3 (>=3.5),
         python3-gi,
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0,
		     python3-toml,
		     libpardus-domain-joiner
Description: Join domains easily.
 Joins your computer to the domain or leaves it from the domain.
