[Desktop Entry]
Name=Pardus Domain Joiner
Name[tr]=Pardus Etki Alanı Dahil Edici
Comment=UI application that helps to joins or leaves your computer to the domain
Comment[tr]=Bilgisayarınızın etki alanına katılmasına veya etki alanından ayrılmasına yardımcı olan kullanıcı arayüzü uygulaması
Exec=pardus-domain-joiner
Icon=pardus-domain-joiner
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
Keywords=domain-joiner